import dependencies

In [15]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random
import datetime
import matplotlib.pyplot as plt
import pylab as pl
from statsmodels import api as sm
from sklearn import linear_model
regr=linear_model.LinearRegression()
from sklearn.metrics import r2_score

create random date

In [16]:
start_year = 2000
end_year = 2023
number_home = random.randint(1000,2000)

dates = []

for i in range(number_home):
    # Generate a random year, month, and day
    date = datetime.date(random.randint(start_year, end_year), random.randint(1, 12), random.randint(1, 28))
    dates.append(date)

    create price data acording rooms and meterag

In [17]:
# # Set the random seed for reproducibility
# np.random.seed(000)

# Create an array of (number_home)  random integers between 1 and 5 for the number of rooms
rooms = np.random.randint(1, 6, size=number_home)

# Create an array of (number_home)  random integers between 50 and 200 for the square meterage
meterage = np.random.randint(50, 201, size=number_home)

# Calculate a random but realistic price for each home based on the number of rooms and square meterage
price = np.round((meterage * 1000 * rooms) * (1 + np.random.normal(0, 0.2, size=number_home)))

# Create a dictionary with the three arrays
prices_data = {'rooms': rooms, 'meterage': meterage, 'price': price ,"dates":dates}

generate name home

In [18]:

def g_h():
    list_home=[]
    for num  in range(number_home):
        list_home+=["home "+str(num)]
    return list_home

generate data frame

In [19]:

df = pd.DataFrame(prices_data,index=g_h())
df

           rooms  meterage     price       dates
home 0         5       179  961229.0  2017-08-04
home 1         3       168  444985.0  2023-09-10
home 2         3       148  464643.0  2007-06-27
home 3         2       190  340939.0  2014-06-09
home 4         4       106  488340.0  2012-03-01
...          ...       ...       ...         ...
home 1249      3       147  619706.0  2001-05-22
home 1250      4       136  527113.0  2001-01-17
home 1251      1       103   89515.0  2006-01-21
home 1252      3       200  629404.0  2010-01-26
home 1253      5       136  682944.0  2022-12-26

[1254 rows x 4 columns]

select date:
range: 2005-01-01:2022-01-31

In [20]:


df['dates'] = pd.to_datetime(df['dates'])

# Select dates range
start_date = '2005-01-01'
end_date = '2022-01-31'
mask = (df['dates'] >= start_date) & (df['dates'] <= end_date)
df = df[mask]
df

           rooms  meterage     price      dates
home 0         5       179  961229.0 2017-08-04
home 2         3       148  464643.0 2007-06-27
home 3         2       190  340939.0 2014-06-09
home 4         4       106  488340.0 2012-03-01
home 5         4       176  685116.0 2012-11-09
...          ...       ...       ...        ...
home 1245      1        76   93684.0 2016-07-27
home 1246      2        75  104488.0 2012-11-18
home 1247      3       112  331191.0 2011-08-23
home 1251      1       103   89515.0 2006-01-21
home 1252      3       200  629404.0 2010-01-26

[884 rows x 4 columns]

### split  train  and  test  data :80_20%

In [21]:
boolean_80t=np.random.rand(len(df))<=0.8
train_data=df[boolean_80t]
test_data=df[~boolean_80t]

x=test_data

create linear model

In [22]:
train_x=np.asanyarray(train_data[["rooms","meterage"]])
train_y=np.asanyarray(train_data[["price"]])
regr.fit(train_x,train_y)
print("coefficients:",regr.coef_)
print("intercept:",regr.intercept_)

coefficients: [[121487.59670064   3080.21347287]]
intercept: [-375269.21608171]

compare train model with  real  data   and predic  data and evaluation

In [ ]:
y_predicted=regr.predict(test_data[["rooms","meterage"]])
real_test_y=np.asanyarray(test_data[["price"]])
x_test = np.asanyarray(test_data[["rooms","meterage"]])


print("R2-score: %.2f" % r2_score(real_test_y,y_predicted) )